{% extends 'main/base.html' %}
{% load static %}

{% block maincontent %}
    <div class="uk-section uk-section-large uk-section-media uk-light uk-background-cover" style="background-image: url({% static 'main/images/jeeves_frontpage2.png' %})">
        <div class="uk-container">
            <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Portland State University</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Maseeh College of Engineering and Computer Science (MCECS)</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}