{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <!--<link rel="stylesheet" href="{% static 'main/uikit/css2/uikit.min.css' %}" />-->
        <link rel="stylesheet" href="{% static 'main/uikit/css2/uikit.jeeves.min.css' %}" />
        <script src="{% static 'main/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/uikit/js/uikit.min.js' %}"></script>
        <script src="{% static 'main/uikit/js/uikit-icons.min.js' %}"></script>

        {% block libs %}{% endblock libs %}

        {% block scripts %}{% endblock scripts %}

        <style>
            html {
                font-size: 1.5em;
            }

            /*.uk-button {
                padding: 40px 40px;
                font-size: 2em;
            }*/
        </style>
        {% block styles %}{% endblock styles %}
        
    </head>
    <body>
    {% block nav %}{% endblock nav %}
        <!--<nav class="uk-navbar-container" uk-navbar uk-sticky>
            <div class="uk-navbar-center">

                <ul class="uk-navbar-nav">
                    <li {% if index_active %}class='uk-active'{% endif %}><a href="{% url 'main:index' %}">Home</a></li>
                    <li {% if tour_active %}class='uk-active'{% endif %}><a href="{% url 'main:tour' %}">Tour</a></li>
                    <li {% if aboutpsu_active %}class='uk-active'{% endif %}><a href="{% url 'main:aboutpsu' %}">Ask Jeeves</a></li>
                    <li {% if vision_active %}class='uk-active'{% endif %}><a href="{% url 'main:vision' %}">Vision</a></li>
                    <li {% if dashboard_active %}class='uk-active'{% endif %}>
                        <a href="{% url 'main:dashboard' %}">Dashboard</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{% url 'main:dashboard' %}#system">System</a></li>
                                <li><a href="{% url 'main:dashboard' %}#devices">Devices</a></li>
                                <li><a href="#">Logs</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">About Me</a></li>
                    <li><a href="#">Ex-Mode</a></li>
                </ul>

            </div>
        </nav>-->

        {% block maincontent %}
        
        {% endblock maincontent %}
    <div class="uk-container">
        &nbsp;
    </div>
    <!--<footer>-->
    <!--<div class="uk-position-bottom-center footer" uk-sticky>
        <div class="uk-child-width-1-3@m uk-grid-medium uk-flex-center">
            &lt;!&ndash;<div class="uk-grid-small uk-grid-match uk-child-width-1-3@m" uk-grid>&ndash;&gt;
                &lt;!&ndash;<div>&ndash;&gt;
                    <span><img class="sponsor" src="{% static 'main/images/psu_transparent.png' %}" /></span>
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div>&ndash;&gt;
                    <span class="uk-text-center uk-text-middle uk-text-small uk-text-uppercase">Intelligent Robotics Lab</span>
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div>&ndash;&gt;
                    <span><img class="sponsor" src="{% static 'main/images/ogsystems_transparent.png' %}" /></span>
                &lt;!&ndash;</div>&ndash;&gt;
            &lt;!&ndash;</div>&ndash;&gt;
        </div>
    </div>-->

    <!--</footer>-->
    </body>
</html>