{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'main/uikit/css/uikit.min.css' %}" />
        <script src="{% static 'main/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/uikit/js/uikit.min.js' %}"></script>
        <script src="{% static 'main/uikit/js/uikit-icons.min.js' %}"></script>

        {% block libs %}{% endblock libs %}

        {% block scripts %}{% endblock scripts %}

        <style>
            html {
                font-size: 1.5em;
            }

            .uk-button {
                padding: 40px 40px;
                font-size: 2em;
            }
        </style>
        {% block styles %}{% endblock styles %}
        
    </head>
    <body>
        <nav class="uk-navbar-container" uk-navbar uk-sticky>
            <div class="uk-navbar-center">

                <ul class="uk-navbar-nav">
                    <li {% if index_active %}class='uk-active'{% endif %}><a href="{% url 'main:index' %}">Home</a></li>
                    <li {% if tour_active %}class='uk-active'{% endif %}><a href="{% url 'main:tour' %}">Tour</a></li>
                    <li {% if aboutpsu_active %}class='uk-active'{% endif %}><a href="{% url 'main:aboutpsu' %}">Ask Jeeves</a></li>
                    <li {% if vision_active %}class='uk-active'{% endif %}><a href="{% url 'main:vision' %}">Vision</a></li>
                    <li {% if dashboard_active %}class='uk-active'{% endif %}>
                        <a href="{% url 'main:dashboard' %}">Dashboard</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{% url 'main:dashboard' %}#system">System</a></li>
                                <li><a href="{% url 'main:dashboard' %}#devices">Devices</a></li>
                                <li><a href="#">Logs</a></li>                                
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">About Me</a></li>
                    <li><a href="#">Ex-Mode</a></li>
                </ul>

            </div>
        </nav>
        {% block maincontent %}
        
        {% endblock maincontent %}
        
    </body>
    <footer>
        <div class="uk-container uk-container-large" style="padding:50px 0;">

            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                <div>
                    <p><img src="{% static 'main/images/PSU.png' %}" /></p>
                </div>
                <div>
                    <p class="uk-text-center uk-text-middle uk-text-large uk-text-uppercase">Intelligent Robotics Lab</p>
                </div>
                <div>
                    <p><img src="{% static 'main/images/ogs_standard_logo.jpg' %}" /></p>
                </div>
            </div>
        </div>
    </footer>
</html>