<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">

        <ul class="uk-navbar-nav">
            <li {% if index_active %}class='uk-active'{% endif %}><a href="{% url 'main:index' %}">Home</a></li>
            <li {% if tour_active %}class='uk-active'{% endif %}><a href="{% url 'main:tour' %}">Tour</a></li>
            <li {% if aboutpsu_active %}class='uk-active'{% endif %}><a href="{% url 'main:aboutpsu' %}">Ask Jeeves</a></li>
            <li {% if vision_active %}class='uk-active'{% endif %}><a href="{% url 'main:vision' %}">Vision</a></li>
            <li {% if dashboard_active %}class='uk-active'{% endif %}>
                <a href="{% url 'main:dashboard' %}">Dashboard</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="{% url 'main:dashboard' %}#system">System</a></li>
                        <li><a href="{% url 'main:dashboard' %}#devices">Devices</a></li>
                        <li><a href="#">Logs</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">About Me</a></li>
            <li><a href="#">Ex-Mode</a></li>
        </ul>

    </div>
</nav>