{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
    <style>

        #image-wrapper {
            width: 1270px;
            height: 480px;
            position: relative;
            margin: 0em auto;
            background: #f6f6f6;
            border: 2px solid #ddd;
        }

        #image-wrapper img {
            display: block;
            margin: 0px auto;
        }

        span.marker {
            width: 120px;
            height: auto;
            background: #1e87f0;
            color: #fff;
            text-align: center;
            position: absolute;
            line-height: 20px;
            cursor: pointer;
            padding: 8px;
        }
        span.inactive_marker {
            width: 120px;
            height: auto;
            background: none;
            color: #333;
            text-align: center;
            position: absolute;
            line-height: 20px;
            cursor: pointer;
            padding: 8px;
        }
        /*span.marker:before {
            content: '+';
        }*/

        span.caption {
            width: 180px;
            background: #f66;
            color: #fff;
            padding: 4px;
            position: absolute;
            top: 20px;
            left: -60px;
            display: none;
        }
    </style>
{% endblock styles %}

{% block scripts %}
    <script src="{% static 'main/js/eventemitter2.min.js' %}"></script>
    <script src="{% static 'main/js/roslib.min.js' %}"></script>

    <script type="text/javascript">
    // Ref: http://gabrieleromanato.name/jquery-create-image-markers-with-custom-data-attributes/
        var active_captions = '{"coords": [{"top":280,"left":130,"text":"NEAR Lab","id":"NEAR_lab","img":"near1.jpg"},{"top":85,"left":400,"text":"EE Fishbowl","id":"ee","img":"ee_fishbowl.jpg"},{"top":360,"left":435,"text":"Intelligent Robotics Lab","id":"robot_lab","img":"robotics1.jpg"},{"top":235,"left":670,"text":"Biomedical Signal Processing Lab","id":"Biomedical_lab","img":"biomedical2.jpg"},{"top":190,"left":1080,"text":"EB Stairs/Elevators","id":"stairs","img":"eb_stairs.jpg"},{"top":95,"left":950,"text":"Lab for Interconnected Devices","img":"lid1.jpg"}]}'
        var inactive_captions = '{"coords": [{"top":225,"left":450,"text":"Circuit Lounge","id":"circuit","img":"circuit_lounge.jpg"}, {"top":45,"left":170,"text":"Tektronix Lab","id":"tektronix","img":"tektronix1.jpg"}, {"top":85,"left":10,"text":"Engineering and Technology Management Department","id":"etm","img":"etm1.jpg"}, {"top":240,"left":10,"text":"<span uk-icon=\'icon: chevron-left\'></span>Harrison St. Exit","id":"n_exit","img":"harrison_exit.jpg"}, {"top":165,"left":300,"text":"Restrooms","id":"restroom"},{"top":25,"left":920,"text":"CS Tutor Lounge","id":"cs_lounge","img":"cs_tutor.jpg"}, {"top":185,"left":750,"text":"EB 86-01", "id":"eb8601"},{"top":270,"left":920,"text":"Portland State Aerospace Society (PSAS)","id":"psas","img":"psas.jpg"}]}'
        var Markers = {
            fn: {
                addMarkers: function() {
                    var target = $('#image-wrapper');
                    // var data = target.attr('data-captions');
                    var data = active_captions;
                    console.log(data);
                    var captions = $.parseJSON(data);
                    var coords = captions.coords;                        

                    for (var i = 0; i < coords.length; i++) {
                        var obj = coords[i];
                        var top = obj.top;
                        var left = obj.left;
                        var text = obj.text;
                        var id = obj.id;
                        var img = obj.img;

                        var header = '<div class="uk-modal-header"><h2 class="uk-modal-title">'+text+'</h2></div>';
                        var body = '<div class="uk-modal-body"><div><div class="uk-inline uk-visible-toggle uk-light"><img src="{% static 'main/images/locations' %}/'+img+'" alt="'+text+'"><a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav-large" href="#" uk-slidenav-previous></a><a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav-large" href="#" uk-slidenav-next></a></div></div></div>';
                        var footer = '<p class="uk-text-center"><button class="uk-button uk-button-primary nav" type="button" value="'+id+'">Take me there</button><button class="uk-button uk-button-default cancelnav" type="button">Cancel</button></p><p class="uk-text-center"><button href="#" value="'+id+'" class="uk-button uk-button-link setpose">Set as current pose</button></p>';
                        var modal = '<div class="uk-modal-dialog uk-modal-body"><button class="uk-modal-close-default" type="button" uk-close></button>'+header+body+footer+'</div>';

                        $('<span class="marker"/>').css({
                            top: top,
                            left: left
                        // }).html('<span class="caption">' + text + '</span>').
                        }).attr('uk-toggle','target: #'+id).html( text + '<div id="'+id+'" uk-modal>'+modal+'</div>').
                        appendTo(target);
                    }

                    $('button.nav').click(function() {
                        callService($(this).val());
                    });
                    $('.setpose').click(function() {
                        setPose($(this).val());
                    });
                    $('.cancelnav').click(function() {
                        cancelNav();
                    });

                    var inactive_data = inactive_captions;
                    console.log(inactive_data);
                    var inact_captions = $.parseJSON(inactive_data);
                    var inactive_coords = inact_captions.coords; 
                    for (var i = 0; i < inactive_coords.length; i++) {
                        var obj = inactive_coords[i];
                        var top = obj.top;
                        var left = obj.left;
                        var text = obj.text;
                        var id = obj.id;
                        var img = obj.img;

                        var header = '<div class="uk-modal-header"><h2 class="uk-modal-title">'+text+'</h2></div>';
                        var body = '<div class="uk-modal-body"><div><div class="uk-inline uk-visible-toggle uk-light"><img src="{% static 'main/images/locations' %}/'+img+'" alt="'+text+'"><a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav-large" href="#" uk-slidenav-previous></a><a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav-large" href="#" uk-slidenav-next></a></div></div></div>';
                        var footer = '<p class="uk-text-center"><button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button></p>';
                        var modal = '<div class="uk-modal-dialog uk-modal-body"><button class="uk-modal-close-default" type="button" uk-close></button>'+header+body+footer+'</div>';

                        $('<span class="inactive_marker"/>').css({
                            top: top,
                            left: left
                        // }).html('<span class="caption">' + text + '</span>').
                        }).attr('uk-toggle','target: #'+id).html( text + '<div id="'+id+'" uk-modal>'+modal+'</div>').
                        appendTo(target);
                    }
                },
                showCaptions: function() {
                    $('span.marker').on('click', function() {
                        var $marker = $(this),
                            $caption = $('span.caption', $marker);
                        if ($caption.is(':hidden')) {
                            $caption.slideDown(300);

                        } else {
                            $caption.slideUp(300);

                        }

                    });

                }
            },

            init: function() {
                this.fn.addMarkers();
                this.fn.showCaptions();

            }
        };

        $(function() {
            Markers.init();
        })
    </script>
{% endblock scripts %}
 
{% block maincontent %}
    <div class="uk-cover-container uk-height-large uk-overflow-auto">
        <div id="image-wrapper">
            <img id="img_map" src="{% static 'main/images/hallways_all_90_small3.png' %}" alt="">
        </div>
        
    </div>
    <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">How To</h3>
                <p>Click on a location to learn more about it. Try the <strong>Intelligent Robotics Lab</strong>. If you want to go to that location, click on the <strong>TAKE ME THERE</strong> button.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-body">
                <h3 class="uk-card-title">Ask for a Tour</h3>
                <p>You can ask me to give you a tour of the Engineering Building by clicking the <strong>GIVE ME A TOUR</strong> button, or just say: <strong>"Jeeves! Give me a tour."</strong>, and I will take you to all of the locations that I know.</p>
                <button class="uk-button uk-button-primary uk-button-largel" type="button">GIVE ME A TOUR</button>
            </div>
        </div>
    </div>
    <!--<script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js">
    </script>-->
        <!-- include the roslibjs library ... required -->
    <!--<script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js">-->
    <!--<script src="{% static 'main/js/eventemitter2.min.js' %}"></script>
    <script src="{% static 'main/js/roslib.min.js' %}"></script>-->
    </script>
        <script type="text/javascript">
        var ros = new ROSLIB.Ros({
            //url: 'ws://localhost:9090' // url to your rosbridge server
            url: 'ws://192.168.1.2:9090' // url to your rosbridge server
        });

        /*function callService(data) {
            console.log('Service called');
            console.log(data);
            var service = new ROSLIB.Service({
                ros: ros,
                name: 'test_service',
                serviceType: 'test_service/Foo'
            });

            var request = new ROSLIB.ServiceRequest({
                input: data
            });

            console.log(request);

            service.callService(request, function(result) {
                console.log('Result from calling test_service: ' + 
                data + ': ' + result.output);
            });
        }*/
        function callService(location) {
            console.log('Service called')

            var waypoint = new ROSLIB.Service({
                ros: ros,
                name: 'way_point',
                serviceType: 'basics/Waypoint'
            });

            var request = new ROSLIB.ServiceRequest({
                name: location
            });

            console.log(request)

            waypoint.callService(request, function(result) {
                console.log('Result for service call on ' +
                    waypoint.name +
                    ': ' +
                    result.result);
            });
        }

        function setPose(location) {
            console.log('Setting pose to '+location);

            var waypoint = new ROSLIB.Service({
                ros: ros,
                name: 'set_pose',
                serviceType: 'basics/Waypoint'
                //name: 'waypoint_server',
                //serviceType: 'test_service/Waypoint'
            });

            var request = new ROSLIB.ServiceRequest({
                name: location
            });

            console.log(request);

            waypoint.callService(request, function(result) {
                console.log('Result for service call on ' +
                    waypoint.name +
                    ': ' +
                    result.result);
            });
        }

        function cancelNav() {
            console.log('Cancel Nav')

            var waypoint = new ROSLIB.Service({
                ros: ros,
                name: 'cancel_waypoint',
                serviceType: 'basics/Waypoint'
            });

            var request = new ROSLIB.ServiceRequest();

            console.log(request);

            waypoint.callService(request, function(result) {
                console.log('Result for service call cancel_waypoint: ' +
                    result.result);
            });
        }
    </script>
{% endblock maincontent %} 
