{% extends 'main/base_nav.html' %}
{% load static %}

{% block styles %}
    <style>
        #monitor {
            height: 624px;
        }
    </style>
{% endblock styles %}

{% block maincontent %}
        <div class="uk-cover-container" uk-height-viewport>
            <img id="monitor" class="center-block" src="{{ video_server }}/stream?topic=/camera/rgb/image_rect_color" alt="" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-light uk-position-bottom" style="opacity:0.6;">
                <h1 class="uk-heading-primary">Jeeves Vision 1.0</h1>
                <div><form>
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            <select class="uk-select" id="camera">
                                <option class="camera-option" alt="color" value="/camera/rgb/image_rect_color">Color</option>
                                <option class="camera-option" alt="grayscale" value="/camera/rgb/image_mono">Grayscale</option>
                                <option class="camera-option" alt="depth" value="/camera/depth/image_rect">Depth</option>
                                <option class="camera-option" alt="face detection" value="/camera/face">Face detection</option>
                            </select>
                        </div>
                    </fieldset>
                </form></div>
                <script>
                $("#camera").change(function() {
                    var stream_server = '{{ video_server }}/stream?topic=';
                    $("select option:selected").each(function() {
                        stream_server += $(this).val();
                    });
                    var alt = $(this).attr('alt');
                    console.log(stream_server);
                    console.log(alt);
                        // add &timestamp to trigger GET - otherwise image won't refresh/update
                    //$('img#monitor').attr('src', stream_server+select_val+'&timestamp='+ new Date().getTime());
                    $('img#monitor').attr('src', stream_server+'&timestamp='+ new Date().getTime());
                    $('img#monitor').attr('alt', alt);
                    console.log($('img#monitor').attr('src'));
                }).change();
                </script>
            </div>
        </div>
        
        <div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">How To</h3>
                    <p>Use the pull down widget to select a camera mode.</p>
                    <dl class="uk-description-list">
                        <dt>Color</dt>
                        <dd>Basic color stream from Kinect RGB camera.</dd>
                        <dt>Grayscale</dt>
                        <dd>Grayscale stream from Kinect RGB camera.</dd>
                        <dt>Depth</dt>
                        <dd>Depth image stream from Kinect depth camera.</dd>
                        <dt>Face detection</dt>
                        <dd>Shows circle around detected face. Uses the camera on the head.</dd>
                    </dl>

                </div>
            </div>
{% endblock %}
